:root {
    --ScissorsGradient: hsl(39, 89%, 49%);
    --ScissorsGradient2: hsl(40, 84%, 53%);
    --PaperGradient: hsl(230, 89%, 62%);
    --PaperGradient2: hsl(230, 89%, 65%);
    --RockGradient: hsl(349, 71%, 52%);
    --RockGradient2: hsl(349, 70%, 56%);
    --LizardGradient: hsl(261, 73%, 60%);
    --LizardGradient2: hsl(261, 72%, 63%);
    --Cyan: hsl(189, 59%, 53%);
    --Cyan2: hsl(189, 58%, 57%);
    /* ### Neutral */
    --DarkText: hsl(229, 25%, 31%);
    --ScoreText: hsl(229, 64%, 46%);
    --HeaderOutline: hsl(217, 16%, 45%);
    /* ### Background */
    --RadialGradient: hsl(214, 47%, 23%);
    --RadialGradient2: hsl(237, 49%, 15%);
}


/* background: radial-gradient(#2C3B5A 38%, #293857 38% 50%, #233455 50% 100%) */

.container {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-image: linear-gradient(to bottom, var(--RadialGradient), var(--RadialGradient2));
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    font-weight: 600;
}

.rules-container {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex: 1;
    width: 100vw;
    /* height: 100vh; */
    background-color: white;
    display: none;
}

.rules {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin: auto;
    width: 300px;
    height: 300px;
    background: white;
}

.rules-container.active {
    display: flex;
}

.btn {
    border-style: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}

.game-container {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 30px;
}

.score-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    padding: 10px;
    border: 3px solid rgba(255, 255, 255, .5);
    border-radius: 5px;
}

.game-name {
    text-transform: uppercase;
    line-height: 15px;
    font-weight: 600;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    background: #F7F7F7;
    border-radius: 5px;
    color: var(--DarkText);
}

.score-logo {
    margin: 0;
    width: 100px;
    height: 50px;
    object-fit: contain;
}

.score h4 {
    margin: 0;
    color: var(--ScoreText);
}

.score .score-number {
    font-size: 2rem;
    margin: 0;
}


/* GAME STYLES */

.game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.selection-display {
    position: relative;
    height: 300px;
    width: 300px;
    margin: auto;
    background-image: url('../images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
    display: none;
}

.selection-display.active {
    display: block;
}

.game-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: inset -1px -3px 2px 2px rgba(0, 0, 0, .25);
}

.game-item.selecting {
    background: var(--RadialGradient2);
}

.game-item.selection {
    cursor: pointer;
}

.game-item.selection:hover {
    transition: .5s ease all;
    filter: opacity(.7);
}

.game-item .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 85%;
    background: white;
    border-radius: 50%;
    box-shadow: inset 0px 6px 0px -2px rgba(0, 0, 0, .25);
}

.game-item.paper {
    background-image: linear-gradient(var(--PaperGradient), var(--PaperGradient2));
}

.game-item.scissors {
    position: absolute;
    right: 0;
    top: 0;
    background-image: linear-gradient(var(--ScissorsGradient), var(--ScissorsGradient2));
}


/*------------------------------*/


/*PICKED-DISPLAY STYLES*/


/*------------------------------*/

.picked-display {
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    display: none;
}

.picked-display.active {
    display: flex;
}

.picked-payer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.picked-player-name {
    text-transform: uppercase;
}

.game-item-container {
    background: transparent;
    box-shadow: none;
    border-radius: 50%;
}

#pc {
    animation: rotation 1s backwards;
}

@keyframes rotation {
    from {
        transform: rotateX(0);
    }
    to {
        transform: rotateX(359deg);
    }
}

.game-item-container.selecting {
    background: #192845;
    width: 110px;
    height: 110px;
}

.game-item.scissors.picked {
    position: initial;
    margin: 0;
}

.game-item.rock.picked {
    position: initial;
    margin: 0;
}

.game-item.paper.picked {
    position: initial;
    margin: 0;
}

.game-item.rock {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0%;
    background-image: linear-gradient(var(--RockGradient), var(--RockGradient2));
}

.game-item.picked[data-result="win"]::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background: radial-gradient(#2C3B5A 38%, #293857 38% 50%, #233455 50% 70%, transparent 70% 100%);
    background-color: transparent;
    z-index: -1;
}


/* .game-item.picked.wind::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background: radial-gradient(#2C3B5A 38%, #293857 38% 50%, #233455 50% 70%, transparent 70% 100%);
    background-color: transparent;
    z-index: -1;
} */


/*------------------------------*/


/*GAME RESULT STYLES*/


/*------------------------------*/

.game-result-container {
    order: 2;
    display: grid;
    justify-content: center;
}

.result-text {
    margin: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.5rem;
}

.play-again {
    padding: 15px 25px;
    border-radius: 5px;
    color: var(--DarkText);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    background: white;
    border-style: none;
    outline: none;
    cursor: pointer;
}

.play-again:hover {
    background: rgba(255, 255, 255, .9);
}


/*------------------------------*/


/*------------------------------*/


/*------------------------------*/

.btn-rules-container {
    margin: auto;
}

.btn-rules {
    width: 100px;
    padding: 10px 35px;
    padding-inline: 0;
    margin-bottom: 20px;
    color: white;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    letter-spacing: 2px;
}

.btn-rules:hover {
    background: var(--RadialGradient);
}

.attribution {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

[data-selection="scissors"] {
    background-image: linear-gradient(var(--ScissorsGradient), var(--ScissorsGradient2)) !important;
}

[data-selection="paper"] {
    background-image: linear-gradient(var(--PaperGradient), var(--PaperGradient2)) !important;
}

[data-selection="rock"] {
    background-image: linear-gradient(var(--RockGradient), var(--RockGradient2)) !important;
}

@media screen and (min-width:1080px) {
    .rules-container {
        z-index: 999;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .7);
    }
    .rules {
        border-radius: 5px;
        gap: 20px;
        width: 500px;
        height: 500px;
    }
    .game-container {
        grid-template-rows: 1fr 3fr 70px;
        gap: 0;
    }
    .game-item {
        width: 150px;
        height: 140px;
    }
    .btn-rules-container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding-right: 50px;
        box-sizing: border-box;
    }
    .btn-rules {
        width: 200px;
        font-size: 1.2rem;
    }
    .score-container {
        width: 50%;
        margin: auto;
        font-size: 2rem;
    }
    .picked-display {
        height: 100%;
    }
    .selection-display {
        margin-top: 20px;
        width: 450px;
        height: 400px;
        background-size: 350px;
    }
    #player {
        order: 1;
        flex-direction: column-reverse;
    }
    #computer {
        flex-direction: column-reverse;
        order: 3;
    }
    .game-result-container {
        order: 2;
    }
}